<div class="container">
  <div class="row mt-5">    
    <div class="col-md-4">
        <img  src="../../../assets/image/myphoto.jpg"  class="image rounded float-left" alt="image">
    </div>
    <!-- ./col-md-4 -->
    <div class="col-md-8">        
      <div class="card text-center">
        <div class="card-header">
          Me
        </div>
        <!-- ./card-header -->
        <div class="card-body">          
          <h5 class="card-title">About Me</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem exercitationem odio est soluta possimus, repellendus numquam eius dolore porro repudiandae placeat non ab rerum iure voluptate qui. Numquam, corrupti.</p>
        </div>
        <!-- ./card-body -->
        <div class="card-footer text-muted">
        </div>
        <!-- ./card-footer -->
      </div>
      <!-- ./card -->
    </div>
    <!-- ./col-md-8-->
  </div> 
  <!-- ./row -->
  <div class="row mt-5">
    <div class="col-md-8">        
      <div class="card text-center">
        <div class="card-header">
          technology 
        </div>
        <!-- ./card-header -->
        <div class="card-body">          
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore cupiditate provident ipsa fuga molestiae veniam amet! Sit, molestiae in odit qui nobis, saepe obcaecati commodi veniam soluta similique cupiditate quia!</p>
        </div>
        <!-- ./card-body -->
        <div class="card-footer text-muted">
        </div>
        <!-- ./card-footer -->
      </div>
      <!-- ./card -->
    </div>
    <!-- ./col-md-8-->
    <div class="col-md-4">
        <img  src="../../../assets/image/angular.jpg"  class="rounded float-right" alt="image">
    </div>
    <!-- ./col-md-4 -->
  </div>
  <!-- /.row -->
  <div class="row mt-5">    
      <div class="col-md-4">
          <img  src="../../../assets/image/hobby.jpg"  class="image rounded float-left" alt="image">
      </div>
      <!-- ./col-md-4 -->
      <div class="col-md-8">        
        <div class="card text-center">
          <div class="card-header">
            Hobby
          </div>
          <!-- ./card-header -->
          <div class="card-body">          
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore cupiditate provident ipsa fuga molestiae veniam amet! Sit, molestiae in odit qui nobis, saepe obcaecati commodi veniam soluta similique cupiditate quia!</p>
          </div>
          <!-- ./card-body -->
          <div class="card-footer text-muted">
          </div>
          <!-- ./card-footer -->
        </div>
        <!-- ./card -->
      </div>
      <!-- ./col-md-8-->
    </div> 
    <!-- ./row -->
</div>
<!-- ./container -->