<div class="container">
  <div class="row mt-7">    
    <div class="shadow-box col-md-4">
        <img  src="../../../assets/image/myphoto.jpg"  class="image width float-left" alt="image">
    </div>
    <!-- ./col-md-4 -->
    <div class="col-md-8">        
      <div class="shadow-box card text-center">
        <div class="card-header">
          My story
        </div>
        <!-- ./card-header -->
        <div class="card-body">          
          <h5 class="card-title">About Me</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem exercitationem odio est soluta possimus, repellendus numquam eius dolore porro repudiandae placeat non ab rerum iure voluptate qui. Numquam, corrupti.</p>
        </div>
        <!-- ./card-body -->
      </div>
      <!-- ./card -->
    </div>
    <!-- ./col-md-8-->
  </div> 
  <!-- ./row -->
  <div class="row mt-5">
    <div class="col-md-8">        
      <div class="card shadow-box text-center">
        <div class="card-header">
          technology 
        </div>
        <!-- ./card-header -->
        <div class="card-body">          
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore cupiditate provident ipsa fuga molestiae veniam amet! Sit, molestiae in odit qui nobis, saepe obcaecati commodi veniam soluta similique cupiditate quia!</p>
        </div>
        <!-- ./card-body -->
      </div>
      <!-- ./card -->
    </div>
    <!-- ./col-md-8-->
    <div class="shadow-box col-md-4">
        <img  src="../../../assets/image/angular.jpg"  class=" image width float-right" alt="image">
    </div>
    <!-- ./col-md-4 -->
  </div>
  <!-- /.row -->
  <div class="row mt-5 mb-5">    
      <div class="width shadow-box col-md-4">
          <img  src="../../../assets/image/hobby.jpg"  class="image width float-left" alt="image">
      </div>
      <!-- ./col-md-4 -->
      <div class="col-md-8">        
        <div class="card shadow-box text-center">
          <div class="card-header">
            Hobby
          </div>
          <!-- ./card-header -->
          <div class="card-body">          
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore cupiditate provident ipsa fuga molestiae veniam amet! Sit, molestiae in odit qui nobis, saepe obcaecati commodi veniam soluta similique cupiditate quia!</p>
          </div>
          <!-- ./card-body -->
          <!-- <div class="card-footer text-muted">
          </div> -->
          <!-- ./card-footer -->
        </div>
        <!-- ./card -->
      </div>
      <!-- ./col-md-8-->
    </div> 
    <!-- ./row -->
</div>
<!-- ./container -->
<div class="footer-section bg-dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">
          <H3>Folow Me on social network</H3>
        </div>
        <ul class="nav justify-content-left">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=1645571638"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/kostyantyn-oliynyk-086060b1/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/KostyantynOliynyk"><i class="fab fa-github-square"></i></a>
            </li>
          </ul>
      </div>
      <div class="col">
        
      </div>
    </div>       
  </div>
</div>
<!-- /.footer-section -->