<nav class="navbar navbar-expand-lg d-flex justify-content-between navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{brand}}</a>
  <div class="collapse show ">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <!-- ./ Home -->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <!-- ./ About -->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <a class="nav-link" routerLink="/curriculum-vitae">CurriculumVitae</a>
      </li>  
      <!-- ./ CV -->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a class="nav-link" routerLink="/blog">blog</a>
      </li>
      <!-- ./ Blog -->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <a class="nav-link" routerLink="/login">Login</a>
      </li> 
      <!-- ./ Login -->
    </ul>  
    <!-- ./ navbar=nav -->
  </div>
  <!-- ./ collapse  -->
</nav>
<!-- ./ navbar -->