 <h3 class="card-title">{{formData.id ? 'Edit Post' : ' Add Post'}}</h3>
<form novalidate #form='ngForm'>
  <div class="form-group">
    <label for="title"> Title</label>
    <input type="text" id="title" class="form-control"  [(ngModel)]=" formData.title" name="title" required>    
  </div> 
  <!-- \ .from-group -->
  <div class="form-group">
      <label for="body"> Text</label>
      <input type="text" id="body" class="form-control" [(ngModel)]="formData.body" name="body" required>    
    </div>
    <!-- \ .from-group -->
    <button class="btn btn-primary"      *ngIf = "!formData.id" (click)="onAddPost()" [disabled]="form.invalid" > add new post</button>
    <button class="btn btn-primary mr-1" *ngIf = "formData.id"  (click)="onSUbmit() "> Edit Post</button>
    <button class="btn btn-warning"      *ngIf = "formData.id"  (click)="onCancel() " >Cancel</button>
</form> 
 <!-- ./form -->