<div class="container">
  <div class="row mt-5">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">languages</th>
              <th scope="col">level</th>
            </tr>
            <!-- ./tr -->
          </thead>
          <tbody>
            <tr>
              <th scope="row">Ukrainian</th>
              <td>
                <div class="progress">
                  <div class="progress-bar ukrainian" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                </div>
              </td>              
            </tr>
            <!-- ./tr -->
            <tr>
              <th scope="row">Italian</th>
              <td>
                <div class="progress">
                  <div class="progress-bar italian" role="progressbar"  style="width: 85%;" aria-valuenow="85" aria-valuemin="85" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <!-- ./tr -->
            <tr>
              <th scope="row">English</th>
              <td>
                  <div class="progress">
                      <div class="progress-bar english" role="progressbar"  style="width: 65%;" aria-valuenow="65" aria-valuemin="65" aria-valuemax="100"></div>
                    </div>
              </td>
            </tr>
            <!-- ./tr -->
            <tr>
              <th scope="row">Russian</th>
              <td><div class="progress">
                  <div class="progress-bar russian" role="progressbar"  style="width: 70%;" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100"></div>
                </div></td>
            </tr>
            <!-- ./tr -->
            <tr>
              <th scope="row">Polish</th>
              <td><div class="progress">
                  <div class="progress-bar polish" role="progressbar"  style="width: 40%;" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100"></div>
                </div></td>
            </tr>
            <!-- ./tr -->
          </tbody>
          <!-- ./tbody -->
        </table>     
        <!-- ./table -->
  </div>
  <!-- /.row -->
  <div class="row mt-2">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">developer skills</th>
          <th scope="col">years</th>
          <th scope="col">level</th>
        </tr>
        <!-- ./tr -->
      </thead>
      <tbody>
        <tr>
          <th scope="row">HTML</th>
          <th scope="row">2 yaers</th>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
            </div>
          </td>              
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">CSS</th>
          <th scope="row">2 years</th>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 70%;" aria-valuenow="85" aria-valuemin="85" aria-valuemax="100"></div>
            </div>
          </td>
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">JavaScript</th>
          <th scope="row">2 years</th>
          <td>
              <div class="progress">
                  <div class="progress-bar" role="progressbar"  style="width: 75%;" aria-valuenow="65" aria-valuemin="65" aria-valuemax="100"></div>
                </div>
          </td>
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">TypeScript</th>
          <th scope="row">1 year</th>
          <td><div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 75%;" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100"></div>
            </div></td>
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">Angular</th>
          <th scope="row">1 year</th>
          <td><div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 80%;" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100"></div>
            </div></td>
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">Node.js</th>
          <th scope="row">3 month</th>
          <td><div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 40%;" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100"></div>
            </div></td>
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">bootstrap</th>
          <th scope="row">1 year</th>
          <td><div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 70%;" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100"></div>
            </div></td>
        </tr>
        <!-- ./tr -->
        <tr>
          <th scope="row">Git Hub</th>
          <th scope="row">1 year</th>
          <td><div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 70%;" aria-valuenow="80" aria-valuemin="40" aria-valuemax="100"></div>
            </div></td>
        </tr>
        <!-- ./tr -->
      </tbody>
      <!-- ./tbody -->
    </table>     
    <!-- ./table -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->