<div class="container mt-5">  
    <app-add-new-post-form class="card card-body col-6 mx-auto mb-5" (onAddNewPost)="onAddPost($event)"></app-add-new-post-form>      
    <!-- / .app-add-new-post-form -->
    <div class="row">
        <app-post-item class="col col-6 mb-3" *ngFor="let post of posts" [post]="post"  (editPost)="onEdit($event)" (deletePost)="onDelete($event)">         
        </app-post-item>
        <!-- / .app-post-item -->
    </div>
    <!-- /row -->
  </div>
  <!--/container-->
